.todo {
  display: flex;
  margin-bottom: 20px;
}

.todo li {
  min-width: 200px;
}

.todo button {
  margin-left: 20px;
  background: orangered;
  color: white;
  border: none;
  border-radius: 3px;
}

input {
  padding-left: 0.25em;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 60px;

  margin: 10px auto;
}

.App {
  margin: 0 auto;

  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
